<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- request|response-->
    <target xsi:type="File" name="REQ_RES" fileName="${basedir}/logs/web/access/${date:format=yyyy}/${date:format=MM}/TAIPLA-ACCESS-${shortdate}.txt"
            encoding="utf-8"
            layout="${replace-newlines:${longdate}|${uppercase:${level}}|${message}}" />

    <!-- write logs to file  -->
    <target xsi:type="File" name="All" fileName="${basedir}/logs/web/${iis-site-name}/${date:format=yyyy}/${date:format=MM}/TAIPLA-ALL-${shortdate}.txt"
            encoding="utf-8"
            layout="${replace-newlines:${longdate}|${uppercase:${level}}|${when:when='${aspnet-mvc-controller}' == '' and '${aspnet-mvc-action}' == '':-:else=${aspnet-mvc-controller}Controller.${aspnet-mvc-action}}|${aspnet-request-method}|${aspnet-request-url:IncludePort=true:IncludeQueryString=false:IncludeScheme=false}|${var:strQueryString}${aspnet-request-querystring:OutputFormat=JSON}|${message}}" />

    <target xsi:type="File" name="Service" fileName="${basedir}/logs/web/service/${date:format=yyyy}/${date:format=MM}/TD-SERVICE-${shortdate}.txt"
            encoding="utf-8"
            layout="${replace-newlines:${longdate}|${uppercase:${level}}|${message}}" />

    <!-- ตำแหน่งล็อกไฟล์สำหรับ Attriubtes -->
    <!-- เก็บข้อมูลการทำงานของ Service -->
    <!--<target xsi:type="File" name="Service" fileName="${basedir}/Storage/logs/api/web/${iis-site-name}/Services/${date:format=yyyy}/${date:format=MM}/qrcode-${iis-site-name}-service-${shortdate}.txt"
            encoding="utf-8"
            layout="${replace-newlines:${longdate}|${uppercase:${level}}|${when:when='${aspnet-mvc-controller}' == '' and '${aspnet-mvc-action}' == '':-:else=${aspnet-mvc-controller}Controller.${aspnet-mvc-action}}|${var:userName}|${when:when='${aspnet-user-isAuthenticated}' == '':0:else=${aspnet-user-isAuthenticated}}|${aspnet-request-method}|${aspnet-request-url:IncludePort=true:IncludeQueryString=false:IncludeScheme=false}|${var:strQueryString}${aspnet-request-querystring:OutputFormat=JSON}|${var:strFormData}${aspnet-request-form:OutputFormat=JSON}|${message}}" />-->

    <!-- เก็บข้อมูลการทำงานและพฤติกรรมทุกอย่างของผู้ใช้งาน -->
    <!--<target xsi:type="File" name="Activity" fileName="${basedir}/Storage/logs/api/web/${iis-site-name}/Activity/${date:format=yyyy}/${date:format=MM}/qrcode-${iis-site-name}-activity-${shortdate}.txt"
            encoding="utf-8"
            layout="${replace-newlines:${longdate}|${uppercase:${level}}|${when:when='${aspnet-mvc-controller}' == '' and '${aspnet-mvc-action}' == '':-:else=${aspnet-mvc-controller}Controller.${aspnet-mvc-action}}|${var:userName}|${when:when='${aspnet-user-isAuthenticated}' == '':0:else=${aspnet-user-isAuthenticated}}|${aspnet-request-method}|${aspnet-request-ip}|${aspnet-request-url:IncludePort=true:IncludeQueryString=false:IncludeScheme=false}|${var:strQueryString}${aspnet-request-querystring:OutputFormat=JSON}|${var:strFormData}${aspnet-request-form:OutputFormat=JSON}|${aspnet-request-referer}|${aspnet-request-useragent}}" />-->

    <!-- เก็บข้อมูลการเข้าสู่ระบบ -->
    <!--<target xsi:type="File" name="Login" fileName="${basedir}/Storage/logs/api/web/${iis-site-name}/Login/${date:format=yyyy}/${date:format=MM}/qrcode-${iis-site-name}-login-${shortdate}.txt"
            layout="${replace-newlines:${longdate}|${uppercase:${level}}|${when:when='${aspnet-mvc-controller}' == '' and '${aspnet-mvc-action}' == '':-:else=${aspnet-mvc-controller}Controller.${aspnet-mvc-action}}|${aspnet-request-method}|${aspnet-request-ip}|${message}}" />-->


    <!-- ตำแหน่งล็อกไฟล์สำหรับ Middleware เมื่อหาเส้นทางไม่พบ -->
    <!--<target xsi:type="File" name="Middleware" fileName="${basedir}/Storage/logs/api/web/${iis-site-name}/Middleware/${date:format=yyyy}/${date:format=MM}/qrcode-${iis-site-name}-middleware-${shortdate}.txt"
            encoding="utf-8"
            layout="${replace-newlines:${longdate}|${uppercase:${level}}|${logger}|${var:userName}|${when:when='${aspnet-user-isAuthenticated}' == '':0:else=${aspnet-user-isAuthenticated}}|${when:when='${aspnet-mvc-controller}' == '' and '${aspnet-mvc-action}' == '':-:else=${aspnet-mvc-controller}Controller.${aspnet-mvc-action}}|${aspnet-request-method}|${message}|${aspnet-request-ip}|${aspnet-request-url:IncludePort=true:IncludeQueryString=false:IncludeScheme=false}|${var:strQueryString}${aspnet-request-querystring:OutputFormat=JSON}|${aspnet-request-referer}|${aspnet-request-useragent}}" />-->

    <!-- ตำแหน่งล็อกไฟล์สำหรับ Exception เมื่อพบข้อผิดพลาด -->
    <!--<target xsi:type="File" name="Exception" fileName="${basedir}/Storage/logs/api/web/${iis-site-name}/Exception/${date:format=yyyy}/${date:format=MM}/qrcode-${iis-site-name}-exception-${shortdate}.txt"
            encoding="utf-8"
            layout="${longdate}|${uppercase:${level}}|${logger}|${var:userName}|${when:when='${aspnet-user-isAuthenticated}' == '':0:else=${aspnet-user-isAuthenticated}}|${when:when='${aspnet-mvc-controller}' == '' and '${aspnet-mvc-action}' == '':-:else=${aspnet-mvc-controller}Controller.${aspnet-mvc-action}}|${message}|${exception:format=tostring}" />-->

    <!-- ตำแหน่งล็อกไฟล์สำหรับ DBContext -->
    <!--<target xsi:type="File" name="DbContext" fileName="${basedir}/Storage/logs/api/web/${iis-site-name}/DbContext/${date:format=yyyy}/${date:format=MM}/qrcode-${iis-site-name}-${iis-site-name}-dbcontext-${shortdate}.txt"
            encoding="utf-8"
            layout="${replace-newlines:${longdate}|${uppercase:${level}}|${logger}|${var:userName}|${when:when='${aspnet-user-isAuthenticated}' == '':0:else=${aspnet-user-isAuthenticated}}|${when:when='${aspnet-mvc-controller}' == '' and '${aspnet-mvc-action}' == '':-:else=${aspnet-mvc-controller}Controller.${aspnet-mvc-action}}|${message}}" />-->

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--<logger name="*"  writeTo="All" />-->
    <logger name="REQ_RES" writeTo="REQ_RES" />
    <logger name="Service" levels="Debug,Error,Warning" writeTo="Service" />

    <!-- Group for Attribute -->
    <!--
    <logger name="Service" level="Info" writeTo="Service" />
    <logger name="Activity" level="Info" writeTo="Activity" />
    <logger name="Login" level="Info" writeTo="Login" />

    -->
    <!-- Group for Middleware -->
    <!--
    <logger name="Middleware.Routes.UnAuthorization" level="Warn" writeTo="Middleware" />
    <logger name="Middleware.Routes.NotFound" level="Warn" writeTo="Middleware" />

    -->
    <!-- Group for Exception -->
    <!--
    <logger name="*" levels="Error,Fatal" writeTo="Exception" />
    <logger name="System.*" levels="Warn,Error,Fatal" writeTo="Exception" />
    <logger name="Microsoft.*" levels="Warn,Error,Fatal" writeTo="Exception" />

    -->
    <!-- Group for DbContext -->
    <!--
    <logger name="Microsoft.EntityFrameworkCore.*" levels="Warn,Error,Fatal" writeTo="DbContext" />
    <logger name="Microsoft.EntityFrameworkCore.Database.*" writeTo="DbContext" />-->
  </rules>
</nlog>